#llm
OPENAI_API_KEY="value here"


# base api rul
API_URL="http://localhost:8000"


#data base
MYSQL_HOST="value here"
MYSQL_PORT="value here"
MYSQL_USER="value here"
MYSQL_PASSWORD="value here"
MYSQL_DATABASE="value here"


# vector database
INDEX_NAME="value here"
PINECONE_HOST="value here"
PINECONE_API="value here"